@use '../../styles/index';
@use '../../styles/breakpoints';

$blinking-duration: 2.3s;

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#showcase {
  position: relative;
  overflow: hidden;
  .logo {
    display: none;
  }

  @media screen and (max-width: breakpoints.$lg) {
    .logo {
      animation: blink $blinking-duration infinite;
      opacity: 0.5;
      position: absolute;
      top: 0px;
      left: 5px;

		display: inline-block;
		font-family: index.$odibee;
		font-size: 1.6rem;
    width: 100%;
		color: index.$primary-color;
    position: relative;
    transition: all 750ms ease-in-out;

    &:hover {
      .logo-text {
        color: white;
        transition: all 750ms ease-in-out;
        transform: rotateY(360deg) !important;
        -webkit-transform: rotateY(360deg) !important;
        -moz-transform: rotateY(360deg) !important;
        -ms-transform: rotateY(360deg) !important;
      }
    }

    /* &::after { */
    /*     position: absolute; */
    /*     content: 'Codes'; */
    /*     top: 10vh; */
    /*     left: 100px; */
    /*     font-size: 10rem; */
    /*     z-index: 1; */
    /*     transform: rotateX(); */
    /*   } */
    }
  }

	.container {
    z-index: 10;
		min-height: 80vh;

	#slogan {
		font-family: index.$poppins;
		font-size: 2.4rem;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 1rem;
		text-align: start !important;

		@media (max-width: breakpoints.$lg) {
			font-size: 2.2rem;
		}

		@media (max-width: breakpoints.$sm) {
			font-size: 2rem;
		}
	}

	.occupations {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		.occupation {
			color: index.$secondary-white;
			font-size: 14px;
			padding-right: 0.8rem;
			transition: color ease-in-out 200ms;
			&:hover {
				color: index.$primary-color;
			}
		}
	}

	p {
		margin: 1rem 0;
		max-width: 75%;

		@media (max-width: breakpoints.$lg) {
			max-width: 100%;
			font-size: 14px;
		}
	}

  .ctas {
    margin: 0.6rem 0;
  }
	}

}
