@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:wght@100;300;400;600;900&display=swap");
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes wobble {
  0%, 100% {
    transform: translateX(0);
  }
  15%, 30%, 45%, 60%, 75% {
    transform: translateX(-4px);
  }
  10%, 25%, 40%, 55%, 70% {
    transform: translateX(0px);
  }
}
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  15%, 30%, 45%, 60%, 75% {
    transform: translateX(4px);
  }
  10%, 25%, 40%, 55%, 70% {
    transform: translateX(-4px);
  }
}
#showcase {
  position: relative;
  overflow: hidden;
}
#showcase .logo {
  display: none;
}
#showcase .container {
  z-index: 10;
  min-height: 80vh;
  /* #slogan { */
  /*   font-family: index.$poppins; */
  /*   font-size: 2.4rem; */
  /*   font-weight: 900; */
  /*   line-height: 1; */
  /*   margin-bottom: 1rem; */
  /*   text-align: start !important; */
  /*   transition: transform 1000ms ease-in-out; */
  /*   cursor: default; */
  /*   &:hover { */
  /*     animation: wobble 3000ms ease-in-out infinite; */
  /*   } */
  /*   @media (max-width: breakpoints.$sm) { */
  /*     font-size: 2rem; */
  /*   } */
  /* } */
}
#showcase .container #slogan {
  color: rgba(255, 0, 102, 0.4588235294);
  position: relative;
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: start !important;
  transition: transform 1000ms ease-in-out;
  cursor: default;
}
#showcase .container #slogan::before, #showcase .container #slogan::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: rgba(255, 0, 102, 0.4588235294);
  transition: opacity 0.5s ease-in-out;
}
#showcase .container #slogan::before {
  z-index: -1;
}
#showcase .container #slogan:hover::before, #showcase .container #slogan:hover::after {
  opacity: 1;
  transform: translateY(4px);
}
#showcase .container #slogan:hover::before {
  animation: glitch 0.2s infinite;
  animation-delay: 0.25s;
}
#showcase .container #slogan:hover::after {
  animation: glitch 0.2s infinite;
  animation-delay: 0.3s;
}
#showcase .container .progressBar {
  height: 1px;
  color: rgba(255, 0, 102, 0.4588235294);
  border: 1px solid rgba(255, 0, 102, 0.4588235294);
  bottom: "0";
  left: "0";
  margin-left: 2px;
  margin-bottom: 1rem;
}
#showcase .container .occupations {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#showcase .container .occupations .occupation {
  color: #8f8f8f;
  font-size: 14px;
  padding-right: 0.8rem;
  transition: color ease-in-out 200ms;
}
#showcase .container .occupations .occupation:hover {
  color: #ff0077;
}
#showcase .container p {
  margin: 1rem 0;
  max-width: 75%;
}
@media (max-width: 968px) {
  #showcase .container p {
    max-width: 100%;
    font-size: 14px;
  }
}
#showcase .container .ctas {
  margin: 0.6rem 0;
}
@media screen and (max-width: 968px) {
  #showcase .logo {
    animation: blink 2.3s infinite;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 5px;
    display: inline-block;
    font-family: "Odibee Sans";
    font-size: 1.6rem;
    width: 100%;
    color: #ff0077;
    position: relative;
    transition: all 750ms ease-in-out;
  }
  #showcase .logo:hover .logo-text {
    color: white;
    transition: all 750ms ease-in-out;
    transform: rotateY(360deg) !important;
    -webkit-transform: rotateY(360deg) !important;
    -moz-transform: rotateY(360deg) !important;
    -ms-transform: rotateY(360deg) !important;
  }
  #showcase .container #slogan {
    font-size: 2.2rem;
  }
}

/*# sourceMappingURL=Showcase.css.map */
