@use '../../styles/index';
@use '../../styles/breakpoints';

#social-links {
	border-bottom: 1px solid index.$secondary-white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	padding: 0.5rem 1rem;

	.social-link {
		a {
			color: index.$secondary-white;
			display: inline-block;
			padding: 0.5rem 0;
			transition: all ease-in-out 300ms;
			&:hover {
				color: index.$primary-color;
				transform: translateY(-8px);
			}
		}
	}

	@media (max-width: breakpoints.$lg) {
		display: none;
	}
}
