@use '../styles/index';
@use '../styles/breakpoints';

.post-wrapper {
	max-width: 1024px;
	width: 40%;
	margin: 0 auto;
	padding: 6rem 0 3rem 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: index.$primary-color;
		margin: 0.5rem 0;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
    color: white;
		font-size: 1.6rem;
	}

	h5 {
		font-size: 1.4rem;
	}

	a {
		color: index.$primary-color;
		text-decoration: underline;
	}

	p {
		margin: 1rem 0;
		font-size: 16px;
    line-height: 1.6;
	}

	blockquote {
		border-color: index.$primary-color;
	}

  ul {
    list-style: square;
  }

  ol {
    font-size: 14px;
    list-style-type: decimal !important;

    li {
      padding-bottom: 0.5rem;
      margin-left: 2rem;
    }
  }

  .article-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    small {
      margin-bottom: 0.5rem;
      opacity: 70%;
    }
  }

	@media (max-width: breakpoints.$lg) {
		width: 75%;

		p {
			font-size: 14px;
		}

    code {
      font-size: 12px;
    }

		.blog-nav {
			ul {
				width: 100%;
			}
		}
	}

	@media (max-width: 600px) {
		width: calc(100% - 1rem);
    
    code {
      font-size: 12px;
    }
	}
}

.other-posts-heading {
	text-align: center;
}

.blog-nav {
	width: 100%;
	max-width: 1024px;
	box-shadow: none;
	margin: 1rem auto 12vh auto;
  padding-bottom: 4rem;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 70%;
		margin: 0 auto;

		a {
			background: index.$primary-border;
			color: index.$primary-white;
			font-weight: 600;
			display: inline-flex;
			padding: 0.8rem 1.8rem;
			transition: all ease-in-out 300ms;
			&:hover {
        background: index.$primary-white;
        color: index.$primary-color;
			}
		}

		@media (max-width: breakpoints.$lg) {
			flex-direction: column;
      width: calc(100% - 1rem);

			a {
				margin-bottom: 1rem;
        padding: 0.5rem 1rem;
			}
		}
	}
}
