@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Poppins:wght@100;300;400;600;900&display=swap');

// Colors
$primary-color: #ff0077;
$primary-border: #ff006675;
$secondary-color: #301622;
$primary-white: #ebebeb;
$secondary-white: #8f8f8f;
$primary-background: #181818;

// Fonts
$poppins: 'Poppins';
$odibee: 'Odibee Sans';
