@use 'index.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html,
body {
	background: index.$primary-background;
	color: index.$primary-white;
	font-family: index.$poppins;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.professional-btns {
	margin: 1rem 0;
	.btn-primary {
		display: inline-block;
		background: index.$primary-color;
		color: index.$primary-white;
		padding: 0.4rem 1rem;
		margin-right: 1rem;
	}
}
