@import "breakpoints";
@import "index";

::-webkit-scrollbar {
  background: $primary-background !important;
  width: 14px !important;
  transition: all 400ms ease-in-out;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar:focus {
  width: 15px !important;
}

::-webkit-scrollbar-thumb {
  background: $primary-color !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.back-link {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-bottom: 1rem;
  color: $primary-white;
  transition: all 300ms ease-in-out;

  .back-arrow {
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1px;
  }

  h1 {
    margin-top: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

html,
body {
  background: $primary-background;
  color: $primary-white;
  font-family: $poppins;
  scroll-behavior: smooth;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid $primary-border;
    padding-top: 0.5rem;

    .tag {
      display: inline-flex;
      background: $primary-border;
      font-size: 14px;
      font-weight: 600;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      padding: 0 1rem;
      border-radius: 16px;
      opacity: 0.8;
    }
  }

  .ctas,
  .professional-btns {
    margin: 1rem 0;

    .btn {
      display: inline-flex;
      width: 140px;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      z-index: 1;
      position: relative;
      transition: all ease-in-out 300ms;
    }

    .btn-primary {
      background: $primary-color;
      color: $primary-white;
      border-radius: 10px;

      &:after {
        background: $primary-white;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        z-index: -1;
        transition: all ease-in-out 400ms;
        border-radius: 10px 10px;
      }

      &:hover {
        color: $primary-background;
      }

      &:hover::after {
        width: 100%;
        text-decoration: none;
        border-radius: 10px;
      }
    }

    .btn-secondary {
      background: $primary-white;
      color: $primary-background;
      border-radius: 10px;

      &:before {
        background: $primary-color;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 10px;
        height: 100%;
        z-index: -1;
        transition: all ease-in-out 400ms;
        border-radius: 10px 0 0 10px;
      }

      &:hover {
        color: $primary-white;
      }

      &:hover::before {
        width: 100%;
        text-decoration: none;
        border-radius: 10px;
      }
    }

    @media (max-width: $lg) {
      padding-bottom: 2rem;
    }
  }
}
