h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.blog-card {
	background-color: rgba(0, 0, 0, 0.562);
	border-radius: 16px;
	img {
		border-radius: 16px 16px 0 0;
	}
	.blog-details {
		padding: 1rem;
		h3 {
			a {
				color: #ff0077;
			}
		}

		hr {
			margin: 1rem 0;
		}

		p {
			font-size: 0.9rem;
		}
	}
}
