@use '../../styles/index';

#main-nav {
	position: absolute;
	background: index.$primary-background !important;
	top: 0;
	left: 0;
	width: 9vw;
	height: 100vh;
	border-right: 1px index.$primary-color solid;
	text-align: center;

	a {
		color: #f0f8ff;
		text-decoration: none;
	}

	.logo {
		display: inline-block;
		font-family: index.$odibee;
		font-size: 1.5rem;
		padding: 1rem;
		width: 100%;
		color: index.$primary-color;
		background: rgba($color: #ff0077, $alpha: 0.1);
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;

		.nav-link {
			list-style: none;

			a {
				display: inline-block;
				padding: 1rem 2rem;
				width: 100%;
				font-size: 0.75rem;
				text-transform: uppercase;
				transition: color 3000 ease-in-out;
				&:hover {
					background-color: rgba($color: #1a1a1a, $alpha: 0.9);
					color: index.$primary-color;
					font-weight: 600;
				}
			}

			.active {
				color: index.$primary-color;
				font-weight: 600;
			}
		}
	}

	#header-footer {
		color: index.$secondary-white;
		display: inline-block;
		width: 100%;
		padding: 0.4rem 0;
	}
}
