@import "../../styles/breakpoints";
@import "../../styles/index";

.services-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;

  .service-card {
    background: $primary-border;
    padding: 1rem;
    border-radius: 10px;

    &:nth-child(even) {
      background: $primary-white;
      color: $primary-background;
    }

    .service-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      .service-recommended-pill {
        display: inline-block;
        background: $primary-color;
        color: $primary-white;
        padding: 0 0.3rem;
        border-radius: 10px;
        font-size: 12px;
      }
    }

    .service-price {
      font-size: 1.5rem;
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;

      .currency {
        font-size: 1rem;
      }

      .per-something {
        font-weight: 400;
        font-size: 0.9rem;
      }
    }

    .features {
      opacity: 0.9;
      margin-top: 1rem;
      margin-left: 1rem;
      list-style: disc;
      font-size: 14px;
    }
  }

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $sm) {
    display: flex;
    flex-direction: column;
  }
}

// FREQUENTLY ASKED QUESTIONS
.questions-container {
  margin: 1rem 0;
  .question-card {
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid $primary-white;

    .question {
      display: flex;
      justify-content: space-between;
      opacity: 0.8;
      &.question-open {
        color: $primary-color;
      }
    }

    .answer {
      font-size: 14px;
      padding: 0.4rem 0;
      margin-top: 0.8rem;
      transition: all 400ms ease-in-out;
      max-height: 200px;
      overflow: hidden;
    }

    .hidden {
      max-height: 0;
      padding: 0;
    }
  }
}
