@use '../styles/breakpoints';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 80%;
	min-height: 100vh;
	margin: auto;
	max-width: breakpoints.$xl;

	@media (max-width: breakpoints.$lg) {
		width: calc(100% - 1rem);
		min-height: 100%;
		padding: 2rem 0;
    	margin: auto;
	}
}

#blog {
	.container {
		width: 90%;
		max-width: breakpoints.$xl;
		margin-bottom: 5rem;

		@media (max-width: breakpoints.$lg) {
			width: calc(100% - 1rem);
			min-height: 100%;
			padding: 2rem 0;
		}
	}
}
